//
//	Base styling for CSS
//	Use BEM at a single level to allow devs to style with higher specifity if required.
//
//	Need to review design 
//

.czw {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	position: relative;
	&__title {
		&__text {

		}
	}

	&__graph {
		position: absolute;
		width: 70%;
		height: 20%;
		top: 0;
		left: 0;
	}

	&__stats {
		&__single {

			&--avg {
				
			}

			&--increase {
				
			}
		}

		&__label {
			
		}
		&__value {
			background-color: blue;
		}
	}
}
