//
//	Base styling for CSS
//	Use BEM at a single level to allow devs to style with higher specifity if required.
//
//	Need to review design
//

$light-grey: #d0d0d0;
$grey: #c0c0c0;
$red: #d97400;
$dark-grey: #3d3d3d;
$yellow: #ffce6f;
$top-boundary: 880px;
$old-top-boundary: 740px;
.explanation-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  @media (min-width: $top-boundary) {
    margin-left: calc($top-boundary / 5);
    margin-right: calc($top-boundary / 5);
  }
  @media (max-width: $top-boundary) {
    margin-left: 50px;
    margin-right: 50px;
  }
}
.para {
  margin-top: 100px;
}

.question-mark {
  color: $dark-grey;
  border: 1px solid $grey;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 100%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.czw {
  --title: 40px;
  --label: 16px;
  --annotation: 32px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; // center column horizontally
  width: 100%;
  max-width: 950px;
  overflow: hidden;
  border: 1px solid $light-grey;
  border-radius: 12px;
  font-size: var(--label);

  @media (min-width: $top-boundary) {
    flex-direction: row;
    align-items: stretch; // ensure row items fill columns
    justify-content: space-between; // center widget horizontally
    margin: 100px auto;
  }

  @media (max-width: $top-boundary) and (min-width: $old-top-boundary) {
    width: $old-top-boundary;
  }

  * {
    box-sizing: border-box;
  }

  &__title {
    width: 100%;
    height: 10vh;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $top-boundary) {
      padding: 20px 25px 25px;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__text {
      font-size: var(--title);
    }

    &__date {
      margin-top: 10px;
      white-space: nowrap;
    }
  }

  &__graph {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 20px 20px 40px;
    border-bottom: 1px solid $grey;

    @media (min-width: 430px) {
      height: 70vh;
    }

    @media (min-height: 800px) {
      // for tablets / ipad
      height: 500px;
    }

    @media (min-width: $top-boundary) {
      width: 58%;
      height: auto;
      border-right: 1px solid $grey;
      border-bottom: none;
    }

    &__selector {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 35px;
      width: 40%;
      min-width: 150px;
      border: 1px solid $yellow;
      border-radius: 5px;
      overflow: hidden;

      &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
        cursor: pointer;
        color: $dark-grey;

        &.active {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 50%;
          background-color: $yellow;
          // color: $dark-grey;
          pointer-events: none;
          // border-radius: 3px;
        }
      }
    }

    &__wrapper {
      position: relative;
      height: 100%;
      max-height: 500px;
      width: 100%;

      .chart2000,
      .chart20 {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .chart20 {
        visibility: hidden;
      }

      @media (min-width: $top-boundary) {
        height: 230px;
        margin-top: 20px;
      }
    }

    &__labels {
      position: absolute; // position on top of chart
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      &--x {
        .czw__graph__labels__label {
          top: 100%;
          color: $dark-grey;

          &--first {
            left: 0;
          }

          &--mid {
            left: 50%;
            transform: translateX(-50%);
          }

          &--end {
            right: 0;
          }
        }
      }

      &--y {
        .czw__graph__labels__label {
          background: #fff;
          padding-right: 6px;
          transform: translateY(-175%);
        }
      }

      &__label {
        position: absolute;
        color: $grey;
      }
    }

    &__latest {
      position: absolute;
      top: -3px;
      right: -2px;
      display: block;
      height: 9px;
      width: 9px;

      border: 2px solid $red;
      border-radius: 50%;
      background: #fff;
      opacity: 0;
      animation: show 0.5s linear 1.75s forwards,
        flash 0.5s linear 2s infinite forwards;
    }
  }

  &__stats {
    width: 100%;
    min-height: 160px;
    display: flex;
    // flex-direction: column;
    flex-shrink: 0;

    @media (min-width: 430px) {
      flex-direction: row;
      height: 250px;
    }

    @media (min-width: $top-boundary) {
      max-width: 300px;
      width: 27.5%;
      height: auto;
      flex-direction: column;
    }

    &__top {
      width: 50%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-evenly;
      color: $dark-grey;

      @media (min-width: 430px) {
        width: 60%;
        height: 31.59%;
      }

      @media (max-width: $top-boundary) {
        justify-content: flex-start;
        padding: 5px;
      }

      @media (min-width: $top-boundary) {
        width: 100%;
        height: 31.59%;
        flex-shrink: 1;

        &--avg {
          border-bottom: 1px solid $grey;
        }
      }

      &--avg {
        height: 100%;
        width: 100%;
        flex-direction: column;

        .ppm {
          font-weight: lighter;
          font-size: 130%;
          padding-left: 5px;
        }

        @media (max-width: $top-boundary) {
          justify-content: flex-start;
        }

        @media (min-width: $top-boundary) {
          padding-left: 20px;
        }

        @media (min-width: $top-boundary) and (max-width: 900px) {
          flex-direction: column;
          justify-content: space-around;
        }
      }
    }

    &__bottom {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-around;
      color: $dark-grey;
      padding: 5px 0px;

      @media (min-width: 430px) {
        padding: 2.5px 0px;
        flex-direction: column;
      }

      @media (min-width: $top-boundary) {
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        margin-left: 10px;
        height: 68.41%;
      }

      &--increase {
        display: flex;
        flex-direction: column;
      }
    }

    &__label {
      text-transform: uppercase;
    }

    &__sclabel {
      padding: 0px 5px;
    }

    &__avg-value {
      color: black;
      display: flex;
      flex-direction: column;
      span {
        font-size: var(--annotation);
      }
      @media (max-width: $top-boundary) {
        margin-top: auto;
        margin-bottom: auto;
        span {
          font-size: var(--title);
        }
      }

      @media (min-width: 430px) {
        flex-direction: row;
        align-items: flex-end;
      }
    }

    &__value {
      color: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: right;
      span {
        font-size: var(--title);
      }
      // @media (min-width: 430px) {
      //   color: $dark-grey;
      //   margin-top: 10px;
      //   font-size: var(--title);
      // }
    }
  }

  .chart20 {
    &__dot {
      position: absolute;
      height: 10px;
      width: 10px;
      background: $red;
      border-radius: 50px;
      margin-top: -5px;
      margin-left: -5px;
    }
    &__dot:last-child {
      border: 2px solid $red;
      border-radius: 50%;
      background: #fff;
      opacity: 0;
      animation: show 0.5s linear 1.75s forwards,
        flash 0.5s linear 2s infinite forwards;
    }

    &__400,
    &__380 {
      position: absolute;
      left: 0;
      height: 10px;
      width: 100%;
      border-top: 1.8px dashed $light-grey;
    }
  }

  &__gauge {
    position: relative;
    height: 208px;
    width: 208px;
    margin-left: 12px;

    &::before {
      content: "";
      height: 18px;
      width: 1px;
      position: absolute;
      top: 7px;
      left: 50%;
      background: $dark-grey;
      transform: translateX(-75%);
    }

    &__graphic {
      height: 184px;
      width: 184px;
      margin: 12px;
    }

    &__arrow {
      height: 104px;
      width: 1px;
      transform-origin: bottom center;
      position: absolute;
      top: 0;
      left: 50%;

      svg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .ppm {
      display: block;
      font-size: 26px;
      font-weight: lighter;
      margin-top: -10px;
      margin-left: -20px;
    }
  }

  polyline {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes flash {
  from {
    background: #fff;
  }
  to {
    background: $red;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
